# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
VENV/
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
pip-wheel-metadata/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.log
*.pot
*.mo
*.pid
*.lock
*.log
*.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
celerybeat-schedule
instance/
.webassets-cache
.pytype/
cython_debug/
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/

# React
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/build
/.pnp
.pnp.js
/coverage
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.eslintcache
.parcel-cache
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
*.swp
.vscode/
.cache
.history
*.env
*.log

# Others
# Editor directories and files
*.suo
*.ntvs*
*.njsproj
*.sln

uploads/
session_files/
#DB
mystocks.db
deploy/development/kube.config
deploy/development/secret-registry.yaml
deploy/development/configmaps.yaml
